body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#container {
  background-color: white;
  width: 1000px;
  height: 625px;
  border: 3px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container h1,
#container p {
  margin: 0;
}

#container h1 {
  color: black;
  font-size: 70px;
}

#container p {
  color: black;
  font-size: 200px;
  margin-top: 10px;
}
